body {
   margin:0;
   padding:0;
   -moz-user-select: none;             
   -webkit-user-select: none;  
}

#btn {
	z-index:2;
}

#dnd{
	display:block;
	border: none;
	position:absolute;
	top:50px;
	z-index:1;
}
#canvas{
	display:block;
	border: none;
	position:absolute;
	top:50px;
	z-index:2;
}

#gradient-bg{
	width:100%;
	height:95%;
	position:absolute;
	top:50px;
	z-index:1;
	background: -moz-linear-gradient(center bottom, #13289e 0%,#5c95ff 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #294fd5),color-stop(1, #92cdff));
}

  #progress_bar {
	position: absolute; top:0px; left:600px;
    margin: 10px 0;
    padding: 3px;
	width: 200px;
    border: 1px solid #ffffff;
    font-size: 14px;
    clear: both;
    opacity: 1;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }

/* prevent the window scrollbars from appearing
which conflict with zooming.*/
html {
 /* overflow-x: hidden; */
 /* overflow-y: hidden; */
}

span, div{
  font-family: monospace;
  color: #FFFFFF;
}

.orangeText{
  color: orange;
}

.blackText{
  color: #000000;
}

/*
  Make sure the screenshots taken in the
  acorn demo appear at the top of the page.
*/
img{
  vertical-align: top;
  border: 1px solid #000;
}
